<% project_update ||= @project_update %>
<% project ||= @project || project || @project_update.project %>
<% stop = (project_update&.stopped? || project_update&.finished?) || last_update_is_started?(project: project) %>
<% status_value = stop ? "stopped" : "started" %>
<%= form.hidden_field :status, value: status_value %>
<% if stop %>
  <div class="input-field">
    <div class="field flex items-center mt-2">
      <%= check_box_tag :finished, true, project_update.finished?, class: 'input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500' %>
      <%= label_tag :finished, "Finish?", class: "pl-1" %>
    </div>
  </div>
  <div class="input-field">
    <%= form.label :reason, class: "block mt-2 text-sm font-medium text-gray-900" %>
    <div class="custom-select">
      <%= form.select :reason, options_for_select(ProjectUpdate.reasons.map { |k, v| [k.humanize, v] }, selected: project_update.reason), {include_blank: "Select"}, {class: "input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"} %>
    </div>
  </div>
<% end %>
<div class="input-field">
  <%= form.label :manually_edited_time, 'Time', class: "block mt-2 text-sm font-medium text-gray-900" %>
  <div class="custom-select">
    <%= form.datetime_select :manually_edited_time, {selected: project_update.manually_edited_time || Time.current}, {class: "input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"} %>
  </div>
</div>
<div class="input-field">
  <%= form.label :note, class: "block mt-2 text-sm font-medium text-gray-900" %>
  <div class="custom-select">
    <%= form.text_area :note, placeholder: "Write something here...", class: "input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
  </div>
</div>
