<%= form_with model: project, class: "mb-7" do |form| %>
  <div class="mb-5">
    <%= form.text_field :name, placeholder: "Add a new project...", class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
  </div>
  <% if project_update %>
    <%= render "project_updates/form", project: project, project_update: project_update, form: form %>
  <% end %>
  <%= link_to "Cancel", :back, class: "btn py-2 ml-2 bg-gray-100" %>
  <%= form.submit "Save", class: "btn py-2 ml-2 bg-blue-600 text-white" %>
<% end %>
