<% next_update_is_start = !last_update_is_started?(project: project) %>
<% stop_status = last_update_current_status(project: project) %>
<div class="col-span-2 border-b-2">
  <%= link_to(project_path(project), {class: "flex"}) do %>
    <div class="flex flex-col">
      <div class="font-semibold text-sky-900">
        <%= project.name %>
      </div>
      <div class="flex items-center text-xs">
        Current Status: 
        <strong>&nbsp<%= current_status_in_past(project: project) %></strong>
      </div>
    </div>
    <% if project.project_updates.last&.note.present? %>
      <div class="pl-4 sm:flex hidden items-center text-sm truncate max-w-[265px]">
        Last note: 
        <p class="truncate">&nbsp<%= project.project_updates.last&.note %></p>
      </div>
    <% end %>
  <% end %>
</div>
<% if project.project_access_controls.select(:level).map(&:level).include?("owner") %>
  <div class="col-span-1 flex justify-end border-b-2 BUTTONS-CONTAINER">
    <div class="START-STOP-BUTTON">
      <% if next_update_is_start %>
        <%= link_to "Start", edit_project_path(project), class: "btn bg-green-100", data: { turbo_frame: "modal" } %>
      <% else %>
        <%= link_to "Stop", edit_project_path(project), class: "btn bg-red-100", data: { turbo_frame: "modal" } %>
      <% end %>
    </div>
    <div class="DELETE-BUTTON">
      <%= link_to "🗑", project_path(project),
                    data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this project ?' },
                    class: "btn px-1 text-white ml-2" %>
    </div>
  </div>
<% end %>
