<!DOCTYPE html>
<html>
  <head>
    <title>TimeTraveler</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.1/dist/css/datepicker.min.css">
  </head>
  <body class="flex flex-col h-screen BODY">
    <header class="w-full flex flex-wrap px-6 py-4 justify-between items-center text-white bg-slate-800 NAVBAR">
      <div class="text-xl font-bold NAVBAR-TITLE">TimeTraveler</div>
      <% if current_user&.admin? %>
        <span class="text-5xl ADMIN-HAMMER">🔨</span>
      <% end %>
      <% if current_user %>
        <ul class="list-none sm:flex hidden justify-end items-center flex-1">
          <%# TODO!: ALL OF THIS IS GROSS. FIX ! %>
          <% links = ['how_to', 'feedback', 'about', 'logout'] %>
          <% ApplicationHelper::HEADER_LINKS.each do |_k, link| %>
            <li class="font-normal text-[16px] mr-2 md:mr-4 last-of-type:mr-0">
              <%= link_to link.name, link.path, link.options %>
            </li>
          <% end %>
        </ul>
        <label for="mobile-menu-toggle" class="sm:hidden flex flex-col cursor-pointer flex-1 items-end">
          <div class="w-[25px] h-[2px] bg-white mx-0 my-[3px]"></div>
          <div class="w-[25px] h-[2px] bg-white mx-0 my-[3px]"></div>
          <div class="w-[25px] h-[2px] bg-white mx-0 my-[3px]"></div>
        </label>
        <input id="mobile-menu-toggle" type="checkbox" class="hidden" name="mobile-menu-toggle" value="0" autocomplete="off"/>
        <div id="mobile-menu-break" class="w-full h-0 basis-full hidden"></div>
        <% style_class = "justify-center" %>
        <% if current_user %>
          <% style_class = "flex-col" %>
        <% end %>
        <div id="mobile-menu-items" class="hidden items-end w-full flex-col">
          <% ApplicationHelper::HEADER_LINKS.each do |_k, link| %>
            <div class="font-normal text-[20px] py-2 last-of-type:ml-2">
              <%= link_to link.name, link.path, link.options %>
            </div>
          <% end %>
        <% end %>
      </header>
      <main class="p-5 my-0 text-slate-800 MAIN-CONTENT">
        <% if notice.present? %>
          <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
            <%= notice %>
          </p>
        <% end %>
        <% if alert.present? %>
          <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert">
            <%= alert %>
          </p>
        <% end %>
        <%= yield %>
        <%= turbo_frame_tag "modal" %>
      </main>
      <footer class="w-full my-2 text-xs text-center text-slate-800 FOOTER">&copyikn, The Bronx, 2023</footer>
    </body>
  </html>
