    <%= render "users/shared/error_messages", resource: resource %>
<div class="flex flex-col items-center">
  <div class="font-bold text-2xl">Sign up</div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="field mt-2">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: "mt-1", autofocus: true, autocomplete: "email" %>
    </div>
    <div class="field mt-2">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em class="text-xs">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, class: "mt-1", autocomplete: "new-password" %>
    </div>
    <div class="field mt-2">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: "mt-1", autocomplete: "new-password" %>
    </div>
    <div class="actions flex justify-center">
      <%= f.submit "Sign up", class: "btn bg-blue-600 text-white" %>
    </div>
  <% end %>
  <%= render "users/shared/links" %>
  <div class="flex flex-col items-start pt-1">
  </div>
</div>
